* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: #1e3313;
}

.memory-game {
	width: calc(445px + 50px);
	height: calc(352px + 50px);
	display: flex;
	flex-wrap: wrap;
	perspective: 1000px;
	margin: auto;
}

.card {
	width: calc(20% - 5px);
	height: calc(25% - 5px);
	position: relative;
	margin: 2px;
	transform: scale(1);
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transition: transform .2s;
}

.card:active {
	transform: scale(.80);
	transition: transform .1s;
}

.card.flip {
	transform: rotateY(180deg);
}

.front-face,
.back-face {
	position: absolute;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.front-face {
	transform: rotateY(180deg);
}

.score {
	color: #eaf6ca;
	width: calc(445px + 50px);
	font-size: 2em;
	font-weight: 700;
    font-family: 'Cinzel', serif;
	text-align: right;
	margin: auto;
	padding: 15px;
}
